*.txt linguist-language=Text
*.txt linguist-detectable=true

*.greenfoot linguist-language=Greenfoot
*.greenfoot linguist-detectable=true

*.pyhtml linguist-language=pyhtml
*.pyhtml linguist-detectable=true